

<container>

  <div class="row justify-content-center">
    <h3>商品新規登録</h3>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @item, url: admin_items_path, method: :posts do |f| %>
      <div class='col'>
        商品画像
        <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class='col'>
        商品名
        <%= f.text_field :name %>
      </div>

      <div class='col'>
        商品説明
        <%= f.text_area :description %>
      </div>

      <div class='col'>
        ジャンル
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %>
      </div>

      <div class='col'>
          税抜価格
        <%= f.text_field :price %>円
      </div>

      <div class='col'>
        販売ステータス
        <span>
          <%= f.radio_button :is_active, true %>
          <%= f.label :is_active, '販売中', value: true %>
        </span>
        <span>
          <%= f.radio_button :is_active, false %>
          <%= f.label :is_active, '販売停止中', value: false %>
        </span>
      </div>




      <%= f.submit '新規登録' %>
    <% end %>
  </div>


</container>