
<containar>
  <div class="row justify-content-center">
    <h4>商品詳細</h4>
  </div>
    <div class="row justify-content-center">
      <div class="col-md-10 offset-md-2">
        <%= image_tag @item.get_image(200, 200) %>
      </div>
      <div class="col-md-10 offset-md-2">
        <table>
          <tr>
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th>商品説明</th>
            <td><%= @item.description %></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @item.genre_id %></td>
          </tr>
          <tr>
            <th>税込み価格</th>
            <td><%= @item.price %>円</td>
          </tr>
          <tr>
            <th>（税抜価格）</th>
            <td>（<%= @item.price %>円）</td>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <td><%= @item.is_active %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</containar>

