<div class="container">
 <h2><%= @customer.last_name %>さんの会員情報編集</h2>
  <div class="row">
      <table class="table table-borderless col-6">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %><%=  @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <%= form_with model:@customer, url: admin_customer_path(@customer), method: :patch do |f| %>
            <td><%= f.label :is_deleted, '会員ステータス' %></td>
            <td>
              <%= f.radio_button :is_deleted, false %> <%= f.label :is_active, "有効" %>
              <%= f.radio_button :is_deleted, true %> <%= f.label :is_active, "退会" %>
              <%= f.submit "変更を保存" %>
            </td>
        </tr>
        <tr>
          <td></td>
        </tr>
          <% end %>
      </table>
  </div>
</div>