<h1>配送先登録/一覧</h1>
  <%= form_with model: @delivery, url: '/deliveries', method: :post do |f| %>
    <p>郵便番号（ハイフンなし）<%= f.text_area :postcode %></p>
    <p>住所 <%= f.text_area :address %></p>
    <p>宛名 <%= f.text_area :address_name %></p>
    <%= f.submit "送信する" %>
  <% end %>

<table>
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
    </tr>
  </thead>
  
  <% @deliveries.each do |delivery| %>
    <tbody>
      <tr>
        <td>gh<%= delivery.postcode %></td>
        <td><%= delivery.address %></td>
        <td><%= delivery.address_name %></td>
        <td> <%=link_to "edit",  edit_deliveries_path(delivery.id) %></td>
        <td> <%= link_to "Destroy", destroy_deliveries_path(delivery.id), method: :delete %></td>
      </tr>
    </tbody>
  <% end %>
</table>