<div class="row">
  <% item.reviews.each do |review|%>
    <div class="col-8 m-4 pt-2 pb-2">
      <div class="review">
        <p><strong>Name</strong> : <%= review.customer.nick_name %></p>
        <p><strong>Title</strong> : <%= review.title %></p>
        <p><strong>Opinion</strong> : <%= review.body %></p>
        <!--<p>Star : <= review.star %>点</p>-->
        <div id="star-rate<%= review.id %>"></div>
        <div class="delete" style="display: flex;">
        <% if review.customer == current_customer %>
          <%= link_to "削除", item_review_path(review.item, review), remote: true, method: :delete, class: "btn btn-danger" %>
        <% end %>
        </div>
        <script>
          $('#star-rate<%= review.id %>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            starHalf : '<%= asset_path('star-half') %>',
            half      : true,
            readOnly: true,
            score: <%= review.star %>,
          });
        </script>
      </div>
    </div>
  <% end %>
</div>