<div class="row">
  <% item.reviews.each do |review|%>

    <div class="col-8 m-4 pt-2 pb-2 border table-background text-left">
      <p>Title : <%= review.title %></p>
      <p>Opinion : <%= review.body %>
      <!--<p>Star : <= review.star %>点</p>-->
      <div id="star-rate<%= review.id %>"></div>
      <script>
        $('#star-rate<%= review.id %>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          starHalf : '<%= asset_path('star-half') %>',
          half      : true,
          readOnly: true,
          score: <%= review.star %>,
        });
      </script>
      <% if review.customer == current_customer %>
        <%= link_to "削除", item_review_path(review.item, review), remote: true, method: :delete %>
      <% end %>

    </div>
    <% end %>