<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <div class="row  mx-auto col-xl">
            <div class="col-xl-2"><a class="navbar-brand" href="/">LOGO</a></div>
            <% if customer_signed_in? %>
              <div class="navbar-text col-xl-4"><p><%= current_customer.last_name %>さん、こんにちは！</p></div>
              <div class="collapse navbar-collapse col-xl-6" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <%= link_to customers_path,class: 'nav-link' do %>
                      <i class="fas fa-user"></i> MY PAGE
                    <% end %>
                  </li>
                  <li class="nav-item active">
                    <%=  link_to items_path,class: 'nav-link' do %>
                    <i class="fas fa-heart"></i> PRODUCTS
                    <% end %>
                  </li>
                  <li class="nav-item active">
                    <%=  link_to cart_items_path ,class: 'nav-link' do %>
                    <i class="fas fa-cart-arrow-down"></i> CART
                    <% end %>
                  </li>
                  <li class="nav-item active">
                    <%= link_to destroy_customer_session_path, method: :delete,class: 'nav-link' do %>
                      <i class="fas fa-sign-out-alt"></i> LOGOUT
                    <% end %>
                  </li>
                </ul>
                </div>

                <% else %>
                <div class="col-xl-4"></div>
                <div class="collapse navbar-collapse col-xl-6" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <%= link_to about_path,class: 'nav-link' do %>
                      <i class="fas fa-beer"></i> ABOUT
                    <% end %>
                  </li>
                  <li class="nav-item active">
                    <%= link_to items_path,class: 'nav-link' do %>
                      <i class="fas fa-heart"></i> PRODUCTS
                    <% end %>
                  </li>
                  <li class="nav-item active">
                    <%= link_to new_customer_registration_path,class: 'nav-link' do %>
                      <i class="fas fa-user-plus"></i> SIGN UP
                    <% end %>
                  </li>
                  <li class="nav-item active">
                    <%= link_to new_customer_session_path ,class: 'nav-link' do %>
                      <i class="fas fa-sign-in-alt"></i> LOG IN
                    <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      </nav>
    </header>
    <div class="top-image">
    <%= image_tag 'syan', size: '200x200'%>
    </div>
    <div id="flash-success">
      <%=render "layouts/notice" %>
    </div>

    <main>
      <div class="content"><%= yield %></div>
      <div class="sidebar">
      <section class="popular">
        <h2 class="popular-heading common-heading">Popular</h2>
          略
      </section>
      <section class="instagram">
        <h2 class="instagram-heading common-heading">Instagram</h2>
          略
      </section>
      <section class="categories">
        <h2 class="categories-heading common-heading">Categories</h2>
          略
      </section>
    </div>
    </main>

    <footer class="footer"><div class="image-box"></div></footer>


  </body>
</html>

