<div class="container">
  <h3 class="mini-title">注文履歴一覧</h3>
</div>
<div class="container">
  <div class="row">
    <table class="table table-bordered table-background">
      <thead class="thead-dark">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払い金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody class="bg-light">
        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.created_at.strftime('%Y/%m/%d') %><br>
              <%= order.created_at.strftime('%H:%M') %>
            </td>
            <td>
              <%= order.postcode %><br>
              <%= order.address %><br>
              <%= order.address_name %>
            </td>
            <td>
              <% order.items.each do |item| %>
                <%= item.name %><br>
              <% end %>
            </td>
            <td style="text-align:right;">
              ¥ <%= order.total_pay.to_s(:delimited) %>
            </td>
            <td>
              <%= order.status_i18n %>
            </td>
            <td><%= link_to "表示する", order_path(order), class:"text-dark" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>      