<%= form_with model:@order do |f|  %>
  <div class='col'>
    支払い方法
    <span>
      <%= f.radio_button :pay_way, true %>
      <%= f.label :pay_way, 'クレジットカード', value: true %>
    </span>
    <span>
      <%= f.radio_button :pay_way, false %>
      <%= f.label :pay_way, '銀行振込', value: false %>
    </span>
  </div>
  <div class='col'>
    お届け先
    <span>
      <%= f.radio_button :address %>
      <%= f.label :address, Customer.all, postco %>
    </span>
<% end %>