<div class="container">
  <h2>ログイン</h2>
  <h4>会員の方はこちらからログイン</h4>
  <div class="row">


      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <table>
        <div class="field">
          <tr>
            <th><%= f.label :メールアドレス, class: "form-label" %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <th><%= f.label :パスワード, class: "form-label" %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
        </div>


        <div class="actions">
          <tr>
            <th></th>
            <td><%= f.submit "ログイン", class: "btn btn-sm btn-primary" %></td>
          </tr>
        </div>
      </table>
      <% end %>

    </div>

    <div class="field">
      <h4>会員登録がお済みでない方</h4>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>
