<containar>
  <div class="row justify-content-center">
    <div class="col-md-2">
      <p>ジャンル検索</p>
      <% @items.each do |item| %>
        <%= link_to '<%= genre.name %>', items_path(genre.id) %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-2">
      <h4>商品一覧</h4>
      <table>
        <% @items.each do |item| %>
          <tr>
            <td><%= image_tag @item.get_image(200, 200) %></td>
            <td>
              <%= link_to public_item_path(item.id) do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</containar>

