<div class="row">
  <div class="col-2 offset-2 mt-3 pt-3">
    <p>ジャンル検索</p>
    <% @genres.each do |genre| %>
      <div class="my-4">
        <%= link_to genre.name, items_path(genre_id: genre.id) %><br>
      </div>
    <% end %>
  </div>
  <div class="col-4 ml-5 mt-5">

    <%= image_tag @item.get_image(400, 280) %>
    <div class="my-4 ml-3">
      <h3><%= @item.name %></h3>
      <%= @item.description %>
    </div>
    <div class="ml-3">
      <p><span class="font-weight-bold">￥<%= (@item.price * 1.1).floor %>(税込み)</span></p>

      <%= form_with model:@cart_item, url: '/cart_items/', method: :post, local:true do |f| %>
        <div class="d-flex align-items-end mt-3">
          <div class="form-group">
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :quantity, *[1..10], include_blank: '個数選択'%>
          </div>

          <div class="form-group offset-1">
            <%= f.submit "カートに入れる", class: 'btn btn-success' %>
          </div>
          <div class="favorite-btn_<%= @item.id %>"><%= render 'public/favorites/favorite', item: @item %></div
        </div>
      <% end %>
    </div>
    <div>
      <%= render 'public/reviews/review', item: @item,review: @review %>
      <%= render 'public/reviews/review_index', item: @item %>

    </div>
  </div>
</div>

